<%- include('../partials/header'); %>
    <!-- open main -->
    <main class="main home-main container" id="main">
        <h2 class="home-header text-center">Welcome to my Movie Page!</h2>
    </main>
    <!-- close main -->
<%- include('../partials/footer'); %>