<%- include('../partials/header'); %>
<!-- open main -->
<main class="main performer-single-main container" id="main">
    [list of movies performer is in]
</main>
<!-- close main -->
<%- include('../partials/footer'); %>